- product = Spree::Product.find(product_id)
%td{:valign => 'top', :style => 'border-right: '+ product_padding + ' #EEE solid;'}
  %table{:width => 134, :height => 240, :style => 'background-color: #FFF; border: 1px #ccc solid; width: 134px;', :cellpadding => 0, :cellspacing => 0, :border => 0}
    %tr
      %td{:height => 164, :valign => 'middle', :align => 'center'}
        = link_to image_tag(product.images.first.attachment.url(:small, false), :alt => product.product_format.name + ' ' + product.name), "http://triggahappi.com.au#{product_path(product)}"
    %tr
      %td{:height => 42, :valign => 'middle', :align => 'center'}

        = link_to product.name, "http://triggahappi.com.au#{product_path(product)}"
    %tr
      %td.saving{:align => 'center'}
        %span.rrp{:style => 'text-decoration: line-through;'}= number_to_currency(product.srp_price)
        %strong.save= number_to_currency(product.srp_price.to_f-product.price)
    %tr
      %td.price{:align => 'center'}
        = number_to_currency(product.price)
