= csrf_meta_tag

%fieldset#module_fields  
  %legend= t(:add_newsletter_module)

  %fieldset
    = link_to text_for_button_link(t("add_ruler"), :icon => 'add'), '#', :id => 'add_ruler', :class => 'button'

  %fieldset  
    %legend= t(:add_heading)
    %div{:style => "float:left;width:85%;margin-right:5%;"}
      = text_field_tag :add_header_value, nil, :class => 'fullwidth title'
    %div{:style => "float:left;width:10%"}
      = link_to text_for_button_link(t("add_heading"), :icon => 'add'), '#', :id => 'add_header', :class => 'button'
      
  %fieldset  
    %legend= t(:add_product)
    %div{:style => "float:left;width:85%;margin-right:5%;"}
      = text_field_tag :add_product_value, nil, :class => 'fullwidth title'
      = hidden_field_tag :add_product_id
    %div{:style => "float:left;width:10%"}
      = link_to text_for_button_link(t("add_product"), :icon => 'add'), '#', :id => 'add_product', :class => 'button'

- content_for :sidebar do
  = render :partial => "module_list"
  #trash TRASH
      
%fieldset#email_preview
  %legend= t(:newsletter_preview)
  %iframe{:id => 'newsletter-preview', :src => newsletter_path(@newsletter.id), :width => '900px', :height => '600px'}
  
- content_for :head do
  = javascript_include_tag '/admin/javascripts/newsletters/edit.js'
  = stylesheet_link_tag '/admin/stylesheets/edit_checkouts.css'
  = stylesheet_link_tag '/admin/stylesheets/newsletters/edit.css'
  
:javascript
  var newsletter_id = #{@newsletter.id};
